doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='syltesheet', href='/css/bootstrap-theme.min.css')
    script(type='text/javascript', href='/js/bootstrap.min.js')
    script(type='text/javascript', href='/js/jquery-1.10.2.min.js')
  body
    div#header
      span 이것이 헤더
    div#content.container
      block content
    div#footer
      span 피드백 
      span 만든 사람들
      span Copyright
